.setting-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.setting {
	margin-top: 10px;
	background-color: #fff;
}
.setting-item {
	padding: 0 20px;
}

.setting-right {
	padding: 14px 0;
	border-bottom: 1px solid #f6f6f6;
}
.more-arrow {
	width: 16px;
	height: 16px;
}
